doctype html
html
	head
		title = "Login Page"
	body
		h3 Login page
		form(action = "/login", method = "POST")
			input(type='text' name='username' value='nickname')
			br
			input(type='password' name='password' value='pass')
			br
			br
			//input(type='submit' name='send')
			button(type = "submit") Send